.slide-up-fade-in {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 2s ease, transform 2s ease;
  }
  
  .slide-up-fade-in.active {
    opacity: 1;
    transform: translateX(0);
  }

  .slide-left-fade-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2s ease, transform 2s ease;
  }
  
  .slide-left-fade-in.active {
    opacity: 1;
    transform: translateX(0);
  }

.opacity-text {
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
  
  .opacity-text.active {
    display: flex;
    opacity: 1;
    justify-content: center;
  }

  .appear-text {
    position: relative;
  }
  
  .appear-text span {
    position: relative;
    overflow: hidden;
  }
  
  .appear-text span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
    background-color: white;
    transition: right 1.5s ease-in-out;
  }
  
  .appear-text.visible span::before {
    right: 0;
  }
  .appear-text h1 {
    position: relative;
    overflow: hidden;
  }
  
  .appear-text h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
    background-color: white;
    transition: right 1.5s ease-in-out;
  }
  
  .appear-text.visible h1::before {
    right: 0;
  }