@use '../../styles/vars';

// MENU
.menu{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.menu-lists{
    display: flex;
    gap: 3rem;
    height: 4.3rem;
    align-items: center;
    background: rgba(249, 249, 249, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    padding: 0 1rem;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 1px;
    .menu-burger{
        display: none;
    }
    .menu-list-active{
        background-color: vars.$or;;
        padding: 0.9rem;
        border-radius: 5px;
    }
    .menu-list-select{
        background: none;
        border: none;
        color: white;
        font-family: 'Poppins';
    }
}
.menu-overlay{
    background-color: vars.$dark;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin-top: -4rem;
    display: flex;
    align-items: center;
    padding-left: 4rem;
    .overlay-menu-list, .overlay-menu-list-active{
        margin-bottom: 2rem;
    }
}
.overlay-menu-lists-close{
    margin-bottom: 2rem;
    i{
    border: 1px solid vars.$white;
    padding: 1rem;
    border-radius: 50px;
    }
    i:hover{
        border: 1px solid vars.$white;
        background-color: vars.$white;
        cursor: pointer;
        svg{
            fill: vars.$dark;
        }
    }
}

// BUTTON
.btn{
    padding: 1rem 3rem;
    border: 1px solid vars.$white;
    border-radius: 5px;
    background: none;
    font-family: 'Prata';
    color: vars.$white;
}
.btn:hover{
    border: none;
    background: vars.$white;
    border-left: 3px solid vars.$or;
    color: vars.$or;
    border-top: 1px solid vars.$white;
    border-bottom: 1px solid vars.$white;
}
.btn-contact{
    color: vars.$dark;
    border: 1px solid vars.$dark;
}
.btn-contact:hover{
    border: none;
    background: vars.$or;
    color: vars.$white;
    border-top: 1px solid vars.$white;
    border-bottom: 1px solid vars.$white;
}
.more-info-btn{
    background: rgba(249, 249, 249, 0.5);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 1rem;
}
.more-info-btn:hover{
    background: vars.$or;
    filter: blur(3px);
}